body {
    margin: 0;
    background-color: #F3E5D8;
    border-radius: 5%;
    width: 75% auto;

} 

.content {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    margin: auto;
    width: 90%;
    padding: 5%;
    background-color: white;
    border-radius: 2%;
}

h1, h2 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
}

h1 {
    color: hsl(24, 5%, 18%);
}

span {
    font-weight: 600;
}

h3 {
    color:  hsl(332, 51%, 32%);
}

img {
    width: 100%;
    margin-top: 5%;
    border-radius: 5%;
}

li {
    margin: 4%;
    list-style-type: square;
}

li::marker {
    color: hsl(14, 45%, 36%);
}

/* Dividers */
hr.solid {
    border-top: 1px solid hsl(30, 54%, 90%);
}

/* Preparation Section */
section + .prep {
    background-color: hsl(330, 100%, 98%);
    padding: 3%;
}

/* Table Section */
.row {
    border-bottom: 1px solid hsl(30, 54%, 90%);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.measurement {
    color: hsl(14, 45%, 36%);
    font-weight: 600;

}
/* Footer */
footer {
    font-family: 'Young Serif', serif;
    text-align: center;
    padding: 5vh 0;
    margin: 0%;
    height: 10vh;
}

.attribution {
    font-size: 16px;
}

div a {
    color: hsl(14, 45%, 36%);
    text-decoration: none;
    font-weight: 400;
}

div a:hover {
    font-weight: 600;
}

/*Media Queries */
@media (min-width: 600px)  {
    body {
        max-width: 800px;
        margin: auto;
    }
}